body {
  background: #f2f2ef;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  text-align: center;
}

#card {
  width: 300px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
